<!-- <ul class="list-group" style="margin-top: 10px;">
    <li routerLink="/colors" class="list-group-item"><strong>Renkler</strong></li>
    <li routerLink="/colors/color/{{color.colorId}}" class="list-group-item" *ngFor=" let color of colors ">{{color.colorName}}</li>
</ul> -->

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <strong>Renkler</strong>
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <ul class="list-group">
                <li routerLink="/colors" class="list-group-item">Tüm Renkler</li>
                <li routerLink="colors/color/{{color.colorId}}" class="list-group-item" *ngFor="let color of colors">{{color.colorName}}</li>
            </ul>
        </div>
    </div>
</div>