<!-- <table class="table">
    <thead>
        <tr>
            <th>BrandId</th>
            <th>BrandName</th>
        </tr>
    </thead>
    <tr *ngFor="let brand of brands">
        <td>{{brand.brandId}}</td>
        <td>{{brand.brandName}}</td>
    </tr>
</table>

 -->

<!-- <ul class="list-group">
    <li class="list-group-item" routerLink="/brands"><strong>Tüm Markalar</strong></li>
    <li (click)="setCurrentBrand(brand)" routerLink="brands/brand/{{brand.brandId}}" [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands">{{brand.brandName}}</li>
</ul> -->



<div class="accordion" id="accordionExample" style="margin-top: 10px;">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Markalar</strong>
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <ul class="list-group">
                <li routerLink="/brands" class="list-group-item">Tüm Markalar</li>
                <li (click)="setCurrentBrand(brand)" routerLink="brands/brand/{{brand.brandId}}" [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands">{{brand.brandName}}</li>
            </ul>
        </div>
    </div>
</div>