<div class="content" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h6 class="card-header">Mevcut Markayı Güncelle</h6>
                <div class="card-body">
                    <form [formGroup]="brandUpdateForm">
                        <div class="mb-3">
                            <label class="card-text mb-1" for="carName"> Araba </label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="brandName" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-outline-primary" type="button" (click)="updateBrand()">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h6 class="card-header">Mevcut Marka Bilgisi</h6>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="card-text mb-1"> Marka ID </label>
                        <div class="form-group">
                            <input type="text" class="form-control" [value]="brand?.brandId" disabled="disabled" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="card-text mb-1"> Marka </label>
                        <div class="form-group">
                            <input type="text" class="form-control" [value]="brand?.brandName" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>