<div class="container">
    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-2">
            <app-brand></app-brand>
            <app-color></app-color>
        </div>

        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div> -->