<div class="container">
    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-2">
            <app-brand></app-brand>
            <app-color></app-color>
        </div>
        <!-- <app-rental></app-rental> -->

        <div class="col-md-10">
            <!-- <app-car></app-car> -->
            <!-- <app-rental></app-rental> -->
            <router-outlet></router-outlet>
            <!-- <app-car-image></app-car-image> -->
            <!-- <app-customer></app-customer> -->
        </div>
    </div>
</div>