<div class="row" style="margin-top: 10px;">
    <div class="col-md-10">
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="carFilterText" class="form-control" id="carFilterText" placeholder="Araba ismine göre ara..." aria-label="Car">
            <input type="text" [(ngModel)]="brandFilterText" class="form-control" id="brandFilter" placeholder="Markaya göre ara..." aria-label="Brand" style="margin-left:5px;">
            <input type="text" [(ngModel)]="colorFilterText" class="form-control" id="colorFilter" placeholder="Renge göre ara..." aria-label="Color" style="margin-left:5px;">
        </div>

        <table class="table" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Brand Name</th>
                    <th>Color Name</th>
                    <th>Daily Price</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let car of cars | carFilter:carFilterText | brandFilter:brandFilterText | colorFilter:colorFilterText" style="margin-top: 5px;">
                <td>{{car.carName}}</td>
                <td>{{car.brandName}}</td>
                <td>{{car.colorName}}</td>
                <td>{{car.dailyPrice}}₺</td>
                <td>{{car.description}}</td>
                <td><button type="button" routerLink="cardetail/car/{{car.carId}}" class="btn btn-outline-primary btn-sm" style="margin-top: 5px;">Detay</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <app-car-filter></app-car-filter>
    </div>
</div>