<h4 style="margin-top:10px;">Araç Listesi</h4>
<hr>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-10">
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="carFilterText" class="form-control" id="carFilterText" placeholder="Araba ismine göre ara..." aria-label="Car">
            <input type="text" [(ngModel)]="brandFilterText" class="form-control" id="brandFilter" placeholder="Markaya göre ara..." aria-label="Brand" style="margin-left:5px;">
            <input type="text" [(ngModel)]="colorFilterText" class="form-control" id="colorFilter" placeholder="Renge göre ara..." aria-label="Color" style="margin-left:5px;">
        </div>

        <table class="table" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Brand Name</th>
                    <th>Color Name</th>
                    <th>Daily Price</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let car of cars | carFilter:carFilterText | brandFilter:brandFilterText | colorFilter:colorFilterText" style="margin-top: 5px;">
                <td>{{car.carName}}</td>
                <td>{{car.brandName}}</td>
                <td>{{car.colorName}}</td>
                <td>{{car.dailyPrice}}₺</td>
                <td>{{car.description}}</td>
                <td><button type="button" routerLink="cardetail/car/{{car.carId}}" class="btn btn-outline-primary btn-sm" style="margin-top: 5px;">Detay</button></td>
                <td><button type="button" routerLink="car/update/{{car.carName}}/{{car.carId}}" class="btn btn-outline-primary btn-sm" style="margin-top: 5px;">Güncelle</button></td>
            </tr>
        </table>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button routerLink="car/add" class="btn btn-outline-primary" type="button"> Araba Ekle</button>
        </div>
    </div>
    <div class="col-md-2">
        <app-car-filter></app-car-filter>
    </div>
</div>

<div class="card" style="margin-top:5px;">
    <h5 class="card-header">Marka Listesi</h5>
    <div>
        <div class="container">
            <div class="row-cols-md-4" style="text-align: center;">
                <div *ngFor="let brand of brands" class="card-body" style="display: inline-block;">
                    <h5 class="card-title">{{brand.brandName}}</h5>
                    <p class="card-text"></p>
                    <button routerLink="brand/update/{{brand.brandId}}" type="button" class="btn btn-outline-primary btn-sm" style="margin-top: 5px;">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button routerLink="brand/add" class="btn btn-outline-primary" type="button">Marka Ekle</button>
        </div>
    </div>
</div>

<div class="card" style="margin-top:5px;">
    <h5 class="card-header">Renk Listesi</h5>
    <div>
        <div class="container">
            <div class="row-cols-md-5" style="text-align: center;">
                <div *ngFor="let color of colors" class="card-body" style="display: inline-block;">
                    <h5 class="card-title">{{color.colorName}}</h5>
                    <p class="card-text"></p>
                    <button routerLink="color/update/{{color.colorId}}" type="button" class="btn btn-outline-primary btn-sm" style="margin-top: 5px;">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button routerLink="color/add" class="btn btn-outline-primary" type="button">Renk Ekle</button>
        </div>
    </div>
</div>